body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    max-width: 80%;
    border: 2px solid black;
    box-shadow: 9px 12px 6px 17px grey;
}
#container {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr 
}
header {
    grid-area: header;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

nav{
    grid-area: nav;
    background-color: #333;
    display: flex;
    flex-direction: row;
    gap:20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
}
main {
    grid-area: main;
    background-color: #f4f4f4;
}
main h2 {
    text-align: center;
    color: black;
}
main p {
    
    color: black;
    padding: 20px;
}
footer {
    grid-area: footer;
    
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    
}
figure {
    margin: 20px auto;
    width: 30%;
    border: black solid 1px;
    padding: 5px;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
    color: black;
    max-width: max-content;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    #container {
        grid-template-areas:
        "header main"
        "nav main"
        "footer main";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 80% 1fr;
    }
    body{
        margin: 0%;
        max-width: 98%;
    }
    header{
        grid-area: header ;
    }
    nav{
        grid-area: nav ;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    nav a{
        margin: 0;
        border-bottom: black solid 1px;
    }
    figure{
        width: 45%;
    }
    main{
        grid-area: main ;
    }
    footer{
        grid-area: footer ;
    }
}

@media screen and (max-width: 500px) {
    #container {
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    nav{
        display: flex;
        flex-direction:column ;
        gap: 0;
    }
    nav a{
        text-align: center;
        border-bottom: black solid 1px;
    }
   
    
    figure{
        width: 100%;
    }
}